<div id="container" style=" background: #FAFAFA;">
    <div class="row" id="overall-title" style="cursor: default">
        <p class="page-title">Health <b>Stat</b></p>
        <img src="./assets/images/icons/Healthstat.png" style="padding-left: 1.5%; margin-top: 10px; float:left;">
        <img src="./assets/images/icons/Profile_.png" style="padding-right: 1.5%; margin-top: 10px; float:right">
        <p id="sub-title" style=" float: right">Hi, John Smith</p>
    </div>
    <div id="card-row">
        <div class="row">
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 calories-valueactive" id="calories-column"
                style="padding-right: 0px; padding-left: 20px">
                <div class="card" id="calories" (click)="onCalClick($event)" style="max-width: 445px; background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%)">
                    <div class="card-body expense-card" id="calories-bg" style=" background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%); border-radius: 4px">
                        <div class="card-block" id="caloriescard" style="box-shadow: 0 3px 6px 2px rgba(178,30,195,0.30);">
                            <div class="media">
                                <div class="media-body text-xs-left float-right" id="calories-value" style="max-width: 445px; background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%); border-radius: 4px">
                                    <h3 class="card-value" id="calories-text" style="color: #FFFFFF">13,100</h3>
                                    <div id="foodimg"><span class="card-text" id="calories-subtitle" style="color: #FFFFFF">Calories
                                            Eaten</span><span id="food-img" class="icon-Food" style="font-size: 65px; margin-right: 3%; margin-bottom: 2% "></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 steps-value" id="step-column" style="padding-right: 0px; padding-left: 20px;">
                <div class="card" id="step" (click)="onStepClick($event)" style="max-width: 445px; ">
                    <div class="card-body income-card" id="step-bg">
                        <div class="card-block" id="stepcard">
                            <div class="media">
                                <div class="media-body text-xs-left float-right" id="steps-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                                    <h3 class="card-value" id="steps-text">52,100</h3>
                                    <div id="stepimg"><span class="card-text" id="steps-subtitle">Steps
                                            Taken</span>
                                        <span id="steps-img" class="icon-Steps" style="font-size: 65px; margin-right: 3%; margin-bottom: 2%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 water-value" id="water-column" style="padding-right: 0px; padding-left: 20px">
                <div class="card" id="water" (click)="onWaterClick($event)" style="max-width: 445px;">
                    <div class="card-body balance" id="water-bg">
                        <div class="card-block" id="watercard" style="max-width: 445px;">
                            <div class="media">
                                <div class="media-body text-xs-left float-right" id="water-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                                    <h3 class="card-value" id="water-text">38.7 ltr</h3>
                                    <div id="waterimg"><span class="card-text" id="water-subtitle">Water Consumed</span>
                                        <span id="water-img" class="icon-Water" style="font-size: 65px; margin-right: 3%; margin-bottom: 2%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 sleep-value" id="sleep-column" style="padding-right: 0px; padding-left: 20px">
                <div class="card" id="sleep" (click)="onSleepClick($event)" style="max-width: 445px;">
                    <div class="card-body transaction" id="sleep-bg">
                        <div class="card-block" id="sleepcard" style="max-width: 445px;" >
                            <div class="media">
                                <div class="media-body text-xs-left float-right" id="sleep-value" style="max-width: 445px; background-image: null; border-radius: 4px">
                                    <h3 class="card-value" id="sleep-text" style="font-family: 'Roboto'; font-weight:400; color: #727272;">50
                                        hr</h3>
                                    <div id="sleepimg"><span class="card-text" id="sleep-subtitle">Sleep Duration</span>
                                        <span id="sleep-img" class="icon-Sleep" style="font-size: 65px; margin-right: 4%; margin-bottom: 2%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="chart" style="background:transparent; padding-right: 0px">
        <div class="line-chart-area">
            <div class="col-sm-12 col-md-8" style="height: 530px; background:transparent">
                    <div style="padding-top: 20px; margin-bottom: 10px;">
                            <p id="title" style="color: #535353; cursor: default; ">Calories Consumed <span id="caloriestitle-annotation1">Daily
                                    Average</span><span id="caloriestitle-annotation2">Today</span>
                        </div>
                        <div>
                            <p id="subtitle" style="cursor: default;"><span id="caloriessubtitle-annotation1">902 kcal</span><span
                                    id="caloriessubtitle-annotation2">1437 kcal</span></p>
                        </div>
                <div class="chart-padding" id="line">       
                    <div id="line" style='display:block'>
                        <ejs-chart #lineChart id='balance' class='line-chart' style="width: 92%; height:400px; background: transparent; max-width: 1083px;" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [chartArea]='chartArea' [tooltip]='tooltip' 
                            (chartMouseClick)='mouseclick($event)' (pointMove)='pointMove($event)' (loaded)='loaded($event)' [background]='background'>
                            <e-series-collection>
                                <e-series type='Line' fill='#F38D36' xName='x' yName='y' width=2 [dataSource]='caloriesdata' [marker]='marker' [border]='cborder'> </e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </div>
                </div>
                <div id="spline" style='display:none'>
                            <ejs-chart #splineChart id='spline-balance' class='line-chart' style=" width: 92%; height:400px; background: transparent; max-width: 1083px;" [primaryXAxis]='splinePrimaryXAxis' [primaryYAxis]='splinePrimaryYAxis' [chartArea]='chartArea' [tooltip]='splineTooltip' 
                                (pointClick)='splinemouseclick($event)' (pointMove)='splinepointMove($event)' (loaded)='loaded($event)' [background]='background'>
                                <e-annotations>
                                    <e-annotation content='<div id="waterachieved"><span id="achieved-img" class="icon-achieved" style="font-size: 30px; color: #3B61E9"></span></div>'
                                        coordinateUnits='Point' verticalAlignment='Top' x='Thursday' y=7.5>
                                    </e-annotation>
                                </e-annotations>
                                <e-series-collection>
                                    <e-series type='Spline' fill='#3B61E9' xName='x' yName='y' width=3 [dataSource]='splinedata' [marker]='splinemarker' [border]='cborder'> </e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
                        <div id="column" style='display:none'>
                            <ejs-chart #columnChart id='column-balance' class='line-chart' style="width: 92%; height:400px; background: transparent; max-width: 1083px;" [primaryXAxis]='columnPrimaryXAxis' [primaryYAxis]='columnPrimaryYAxis' [chartArea]='chartArea' [tooltip]='columnTooltip' 
                                (loaded)='loaded($event)' (chartMouseClick)='columnmouseclick($event)' [background]='background'>
                                <e-annotations>
                                    <e-annotation content='<div id="thumbs_up"><img src="./assets/images/icons/Shape.png"  style="width: 30px; height: 30px"></div>'
                                        x='Tuesday' y=9200 coordinateUnits='Point' verticalAlignment='Top'>
                                    </e-annotation>
                                </e-annotations>
                                <e-series-collection>
                                    <e-series type='Column' columnWidth=0.3 fill='url(#gradient-chart)' xName='x' yName='y' width=2 [dataSource]='columndata' [cornerRadius]='cornerRadius' [marker]='columnmarker' [border]='columnborder'> </e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
                        <div id="bubble" style='display:none'>
                            <ejs-chart #bubbleChart id='bubble-balance' class='line-chart' style="width: 92%; height:400px; background: transparent; max-width: 1083px;" [primaryXAxis]='bubblePrimaryXAxis' [primaryYAxis]='bubblePrimaryYAxis' [chartArea]='chartArea' [tooltip]='bubbleTooltip' 
                                (chartMouseClick)='bubblemouseclick($event)' (pointMove)='bubblepointMove($event)' (loaded)='loaded($event)' [background]='background'>
                                <e-series-collection>
                                    <e-series type='Bubble' fill='#4526A6' xName='x' yName='y' width=2 [dataSource]='bubbledata' [marker]='bubblemarker' [border]='bborder' size='size' > </e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="column-chart-area">
                <div class="col-sm-12 col-md-4" id="pie-chart" style=" padding: 0px; height: 525px; ">
                    <div class="chart-padding" id="pie">
                        <div id="donut" style="display: block; height: 530px;">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="pie" style=" padding: 0px;">
                                <div id="pie-title" style=" padding-top: 20px; margin-bottom: 6px; cursor: default; margin-left: 20px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">Sunday
                                    Activity</div>
                                <div class="column-chart" >
                                    <ejs-accumulationchart id="account-balance" #pie style='height: 268px; margin-bottom: 0px' [legendSettings]="legendSettings" [enableAnimation]= 'enableAnimation' [background]='background'>
                                        <e-accumulation-annotations>
                                            <e-accumulation-annotation content='<div id="calories-innercontent"><p id="value">1200</p><p id="sub-value" style="line-height: 10px">Cal consumed<hr style="margin-top: 10px; margin-bottom: 0px"><p> <p id="end-value"> 344 cal left</p>'
                                             region='Chart' x='50%' y='55%'>
                                            </e-accumulation-annotation>
                                        </e-accumulation-annotations>
                                        <e-accumulation-series-collection>
                                            <e-accumulation-series [dataSource]='calpiedata' xName='x' yName='y' [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="80%" radius="90%" [explode]='explode' [palettes]='palettes' >
                                            </e-accumulation-series>
                                        </e-accumulation-series-collection>
                                    </ejs-accumulationchart>
                                </div>
                                <div class="row" style=" height: 38px; margin-bottom: 20px; cursor: default">
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px; height: 31px; font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;"><img
                                            class="Fatimg" id="fat-img" style="margin-left: 20%" src="./assets/images/icons/fat.png"
                                            align="Left">
                                        <div id="fat_value" style="padding-left: 30% ">80g/99g</div>
                                        <p id="caloriescontent" style="padding-left: 30%  ">Fat</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px; height: 31px;font-family: Roboto;  font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;"><img
                                            class="Fibreimg" id="fibre-img" style="margin-left: 20%" src="./assets/images/icons/fibre.png"
                                            align="Left">
                                        <div id="fibre_value" style="padding-left: 30% ">80g/99g</div>
                                        <p id="caloriescontent" style="padding-left: 30%  ">Fibre</p>
                                    </div>
                                </div>
                                <div class="row" style=" height: 38px; margin-bottom: 20px; cursor: default">
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;"><img
                                            class="Carbsimg" id="carbs-img" style="margin-left: 20%" src="./assets/images/icons/Carb.png"
                                            align="Left">
                                        <div id="carbs_value" style="padding-left: 30% ">379g/408g</div>
                                        <p id="caloriescontent" style="padding-left: 30% ">Carbs</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;"><img
                                            class="Calciumimg" id="calcium-img" style="margin-left: 20%" src="./assets/images/icons/Calcium.png"
                                            align="Left">
                                        <div id="calcium_value" style="padding-left: 30% ">379g/408g</div>
                                        <p id="caloriescontent" style="padding-left: 30% ">Calcium</p>
                                    </div>
                                </div>
                                <div class="row" style=" height: 38px; margin-bottom: 20px; cursor: default">
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px; height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;"><img
                                            class="Proteinimg" id="protein-img" style="margin-left: 20%" src="./assets/images/icons/Protein.png"
                                            align="Left">
                                        <div id="protein_value" style="padding-left: 30% ">102g/118g</div>
                                        <p id="caloriescontent" style="padding-left: 30% ">Protein</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6" style=" padding: 0px;height: 31px;font-family: Roboto; font-weight: 500; font-size: 14px; color: #2F2F2F; letter-spacing: -0.05px;">
                                        <img class="Vitaminsimg" id="vitamin-img" style="margin-left: 20%" src="./assets/images/icons/vitamins.png"
                                            align="Left">
                                        <div id="vitamins_value" style="padding-left: 30% ">102g/118g</div>
                                        <p id="caloriescontent" style="padding-left: 30% ">Vitamins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="caloriesicon-column">
                                <div class="row" style="margin-top:40px; height: 93px; width: 100% ">
                                    <div class="col-sm-12 Break-icon" id="Break-icon" style="border-radius: 4px; padding-top:10px; padding-right:0px; padding-left: 0px; height: 93px; text-align: center; background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%) ">
                                        <span id="Breakfast" class="icon-Breakfast breakimgactive" style="font-size: 48px;"></span>
                                        <div class="breaktextactive" id="Break-text" align="center" style="color: #FFFFFF; text-align: center">Breakfast</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:30px; height: 93px; width: 100% ">
                                    <div class="col-sm-12 Lunch-icon" id="Lunch-icon" style="border-radius: 4px; padding-top:10px; text-align: center; padding-right:0px; padding-left: 0px; height: 93px;">
                                        <span id="Lunch" class="icon-Lunch lunchimg" style="font-size: 48px;"></span>
                                        <div class="lunchtext" id="Lunch-text" align="center">Lunch</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:30px; height: 93px; width: 100% ">
                                    <div class="col-sm-12 Dinner-icon" id="Dinner-icon" style="border-radius: 4px; padding-top:10px; text-align: center; padding-right:0px; padding-left: 0px; height: 93px; ">
                                        <span id="Dinner" class="icon-Dinner dinnerimg" style="font-size: 48px;"></span>
                                        <div class="dinnertext" id="Dinner-text" align="center">Dinner</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:30px; height: 93px; width: 100%  ">
                                    <div class="col-sm-12" id="Snack-icon" style="border-radius: 4px; padding-top:10px; text-align: center; padding-right:0px; padding-left: 0px; height: 93px;">
                                        <span id="Snack" class="icon-Snack snackimg" style="font-size: 48px;"></span>
                                        <div class="snacktext" id="Snack-text" align="center">Snack</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="multiple-donut" style="display: none; height:330px">
                        <div class="col-sm-12" id="pie" style=" padding:0px ">
                            <div id="pie-title" style=" padding-top: 20px; cursor: default; margin-bottom: 6px;  margin-left: 20px; font-family: Roboto; font-weight:500; font-size: 20px; text-align: left; color: #1A1A1A">Sunday
                                Activity</div>
                            <div class="column-chart" id="steps-donut" style="height:330px">
                                <ejs-accumulationchart #multiplepie style='height: 330px; margin-bottom: 0px' [legendSettings]="legendSettings" [enableBorderOnMouseMove]="false" [enableAnimation]= 'enableAnimation' (loaded)= 'steploaded($event)'>
                                    <e-accumulation-annotations>
                                        <e-accumulation-annotation content='<div id="steps-innercontent"><p id="main-value" style="font-family: Roboto; font-weight:500; font-size: 28px;color: #313331;letter-spacing: 0;text-align: center; margin:0px">1800</p><p id="step-value" style="font-family: Roboto; font-weight:500; font-size: 14px; color: #535353; letter-spacing: 0; line-height: 0px;text-align: center;">Calories burnt</p></div>'
                                         region='Chart' x='50%' y='50%'>
                                        </e-accumulation-annotation>
                                        <e-accumulation-annotation content='<div id="pie-container" style="width:330px; height:330px;">'
                                            region='Chart' x='50%' y='50%'>
                                           </e-accumulation-annotation>
                                            <e-accumulation-annotation content='<div id="inside-container" style="width:280px; height:280px;">'
                                            region='Chart' x='50%' y='50%'>
                                           </e-accumulation-annotation>
                                           <e-accumulation-annotation content='<span class="icon-steps" style="color: #078411; font-size:12px;"></span>'
                                            region='Chart' x='53%' y='92%'>
                                           </e-accumulation-annotation>
                                           <e-accumulation-annotation content='<span class="icon-workout" style="color: #4F7305; font-size:12px;"></span>'
                                            region='Chart' x='53%' y='82%'>
                                           </e-accumulation-annotation>
                                           <e-accumulation-annotation content='<span class="icon-active" style="color: #A1A621; font-size:12px;"></span>'
                                            region='Chart' x='53%' y='72%'>
                                           </e-accumulation-annotation>
                                    </e-accumulation-annotations>
                                    <e-accumulation-series-collection>
                                        <e-accumulation-series [dataSource]='steppiedata' xName='x' yName='y' [startAngle]="stepstartAngle" [endAngle]="stependAngle" innerRadius="85%" radius="95%" [explode]='explode' [palettes]='steppalettes' >
                                        </e-accumulation-series>
                                    </e-accumulation-series-collection>
                                </ejs-accumulationchart>
                            </div> 
                            <div class="row" style="margin-top: 40px; cursor: default">
                                <div class="col-xs-4 col-sm-4 col-md-4" style="text-align:center; color: #078411">
                                    <p id="stepstext" style="font-family: Roboto; font-weight: 500; font-size: 36px;color: #078411;letter-spacing: 0;text-align: center; margin-bottom: 0px"><b>2869
                                        </b></p>
                                    <span class="icon-steps" style="font-size: 12px"><span id="steps-subtext" style=" padding-left: 5%; font-family: Roboto;  font-weight: 400;  font-size: 16px; color: #4A4A4A;letter-spacing: 0;text-align: center;">Steps</span></span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4" style="text-align:center; color: #4F7305">
                                    <p id="exercise" style="font-family: Roboto;  font-weight: 500; font-size: 36px;color: #4F7305;letter-spacing: 0;text-align: center; margin-bottom: 0px"><b>21
                                        </b></p>
                                    <span class="icon-workout" style="font-size: 12px"><span id="exercise-text "
                                            style="padding-left: 5%; font-family: Roboto; font-weight: 400; font-size: 16px; color: #4A4A4A;letter-spacing: 0;text-align: center;">Exercise/min</span></span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4" style="text-align:center; color: #A1A621">
                                    <p id="active" style="font-family: Roboto;  font-weight: 500; font-size: 36px;color: #A1A621;letter-spacing: 0;text-align: center; margin-bottom: 0px"><b>5
                                        </b></p>
                                    <span class="icon-active" style="font-size: 12px"><span id="active-text " style="padding-left: 5%; font-family: Roboto; font-weight: 400; font-size: 16px; color: #4A4A4A;letter-spacing: 0;text-align: center;">Active
                                            Hours</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="polar" style="display: none">
                        <div id="pie-title" style=" padding-top: 20px; cursor: default; margin-bottom: 6px;  margin-left: 20px; font-family: Roboto; font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">Sunday
                            Activity</div>
                        <div class="column-chart" id="water-polar" style="height:320px">
                            <ejs-chart #polarChart style="height:320px" [background]='background' [primaryXAxis]='polarPrimaryXAxis' [primaryYAxis]='polarPrimaryYAxis' [tooltip]='polarTooltip' 
                            (pointClick)='polarmouseclick($event)' (pointMove)='polarpointMove($event)' (loaded)= 'polarloaded($event)' [selectedDataIndexes]= 'selectedDataIndexes' [background]='background' selectionMode='Point' [enableAnimation]='polarEnableAnimation' >
                            <e-series-collection>
                                <e-series type='Polar' drawType='Column' fill='url(#gradient-polarchart)' xName='x' yName='y' width=2 [dataSource]='polarchartdata' [marker]='polarmarker' [border]='wborder' [animation]='animation'> </e-series>
                            </e-series-collection>
                        </ejs-chart>
                        </div>
                        <div align="Center" style="font-family: Roboto; font-weight: 500; font-size: 16px; color: #1A1A1A; letter-spacing: 0; margin-bottom: 10px; cursor: default"><b>Add
                                water Intake value</b></div>
                        <div class="row" style="height: 80px">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water50ml-column" id="water50ml-column"
                                style="background: #FFFFFF; height: 80px; margin-left:15px; margin-right: 1.7%; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                                <span id="iconml-img" class="icon-ml" style="font-size: 35px;"></span>
                                <div class="imgtext1" id="imgtext1">50 ml</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water100ml-column" id="water100ml-column"
                                style="background: #FFFFFF; height: 80px; margin-right: 1.7%; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                                <span id="iconml1-img" class="icon-ml1" style="font-size: 35px;"></span>
                                <div class="imgtext2" id="imgtext2">100 ml</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water200ml-column" id="water200ml-column"
                                style="background: #FFFFFF; height: 80px;  margin-right: 1.7%; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                                <span id="iconml2-img" class="icon-ml2" style="font-size: 35px;"></span>
                                <div class="imgtext3" id="imgtext3">200 ml</div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 water300ml-column" id="water300ml-column"
                                style="background: #FFFFFF; height: 80px; border: 1px solid rgba(69,69,69,0.40); border-radius: 4px; text-align:center; color: #5B5B5B">
                                <span id="iconml3-img" class="icon-ml3" style="font-size: 35px;"></span>
                                <div class="imgtext4" id="imgtext4">300 ml</div>
                            </div>
                        </div>
                    </div>
                    <div id="semi-pie" style="display: none">
                        <div class="col-sm-12" id="pie" style=" padding:0px ">
                            <div id="pie-title" style=" padding-top: 20px; cursor: default; margin-bottom: 6px;  margin-left: 20px; font-family: Roboto;  font-weight: 500; font-size: 20px; text-align: left; color: #1A1A1A">Sleep
                                Quality</div>
                            <div class="column-chart" id="sleep-pie" style="height:257px">
                                <ejs-accumulationchart #sleepChart style="height:257px" [background]='background' [legendSettings]="legendSettings" [tooltip]="sleepTooltip" [enableAnimation]="enableAnimation">
                                    <e-accumulation-annotations>
                                        <e-accumulation-annotation content= '<div id="leftcontent" style="width:100%; height:100%;">10:30 pm</div>'
                                         region='Series' x='10%' y='115%'>
                                        </e-accumulation-annotation>
                                        <e-accumulation-annotation content='<div id="rightcontent" style="width:100%; height:100%;">07:30 am</div>'
                                         region='Series' x='90%' y='115%'>
                                        </e-accumulation-annotation>
                                        <e-accumulation-annotation content='<div id="middlecontent" style="font-family: Roboto; font-weight:500; font-size: 14px; color: #4A4A4A; letter-spacing: -0.08px; text-align: center;">Total hours of sleep <br><p id="time">9</p><br></div>'
                                         region='Series' x='52%' y='95%'>
                                        </e-accumulation-annotation>
                                    </e-accumulation-annotations>
                                    <e-accumulation-series-collection>
                                        <e-accumulation-series name='Agricultural' [tooltipMappingName]='tooltipMappingName' [dataSource]='sleepdata' xName='x' yName='y' [startAngle]="sleepStartAngle" [endAngle]="sleepEndAngle" innerRadius="60%" radius="140%" [explode]="explode" [palettes]='sleeppalettes'>
                                        </e-accumulation-series>
                                    </e-accumulation-series-collection>
                                </ejs-accumulationchart>
                            </div>
                            <div class="row" style="height: 100px; cursor: default">
                                <div class="col-xs-6 col-sm-6 col-md-6" id="Deepsleep" style="border-top: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #392178; letter-spacing: -0.08px; text-align: center; ">
                                    <p id="deephour"><b>1h 12 mins </b></p>
                                    <p id="deeplegend" style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">Deep
                                        Sleep</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col md-6" id="Lightsleep" style="border-top: 1px solid #D2D2D2; padding-top: 20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #6137E3; letter-spacing: -0.08px; text-align: center; ">
                                    <p id="lighthour"><b>4h 37 mins</b></p>
                                    <p id="lightlegend" style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px;line-height: 0px; text-align: center;">Light
                                        Sleep</p>
                                </div>
                            </div>
                            <div class="row" style="height: 100px; cursor: default">
                                <div class="col-xs-6 col-sm-6 col-md-6" id="Awake" style="border-top: 1px solid #D2D2D2;border-right: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto; font-weight: 500; font-size: 24px; color: #9572FF; letter-spacing: -0.08px; text-align: center; ">
                                    <p id="awakehour"><b>18 mins </b></p>
                                    <p id="awakelegend" style="font-family: Roboto;  font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">Awake</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" id="REM" style="border-top: 1px solid #D2D2D2; padding-top:20px; height: 100px;font-family: Roboto;  font-weight: 500; font-size: 24px; color: #4F2BAF; letter-spacing: -0.08px; text-align: center; ">
                                    <p id="remhour"><b>53 mins </b></p>
                                    <p id="lightlegend" style="font-family: Roboto; font-weight: 400; font-size: 14px;color: #4A4A4A; letter-spacing: -0.08px; line-height: 0px; text-align: center;">REM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @font-face {
        font-family: 'icomoon';
        src: url('./assets/images/fonts/icomoon.eot?5tocpt');
        src: url('./assets/images/fonts/icomoon.eot?5tocpt#iefix') format('embedded-opentype'),
            url('./assets/images/fonts/icomoon.ttf?5tocpt') format('truetype'),
            url('./assets/images/fonts/icomoon.woff?5tocpt') format('woff'),
            url('./assets/images/fonts/icomoon.svg?5tocpt#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-steps:before {
        content: "\e90e";
        color: #535353;
    }

    .icon-active:before {
        content: "\e90f";
        color: #4a4a4a;
    }

    .icon-workout:before {
        content: "\e910";
        color: #4a4a4a;
    }

    .icon-legend:before {
        content: "\e90d";
        color: #868686;
    }

    .icon-achieved:before {
        content: "\e90c";
    }

    .icon-ml:before {
        content: "\e900";
    }

    .icon-Water:before {
        content: "\e901";
    }

    .icon-ml1:before {
        content: "\e902";
    }

    .icon-ml2:before {
        content: "\e903";
    }

    .icon-ml3:before {
        content: "\e904";
    }

    .icon-Breakfast:before {
        content: "\e905";
    }

    .icon-Dinner:before {
        content: "\e906";
    }

    .icon-Food:before {
        content: "\e907";
    }

    .icon-Lunch:before {
        content: "\e908";
    }

    .icon-Sleep:before {
        content: "\e909";
    }

    .icon-Snack:before {
        content: "\e90a";
    }

    .icon-Steps:before {
        content: "\e90b";
    }

    #water-img {
        background-image: '#FFFFFF';
    }

    #water-img :hover {
        background-image: 'linear-gradient(to right, #17EAD9 , #3D5AEB)';
    }

    #gradient-chart stop {
        stop-color: #04AB11;
    }

    #gradient-chart stop[offset="0"] {
        stop-opacity: 1;
        stop-color: #7DD61D;
    }

    #gradient-chart stop[offset="1"] {
        stop-opacity: 1;
        stop-color: #04AB11;
    }

    #gradient-splinechart stop {
        stop-color: #17EAD9;
    }

    #gradient-splinechart stop[offset="0"] {
        stop-opacity: 0.5;
    }

    #gradient-splinechart stop[offset="0.6"] {
        stop-opacity: 0;
    }

    #gradient-splinechart stop[offset="1"] {
        stop-opacity: 0;
    }

    #gradient-linechart stop {
        stop-color: #EF9027;
    }

    #gradient-linechart stop[offset="0"] {
        stop-opacity: 0.5;
    }

    #gradient-linechart stop[offset="0.3"] {
        stop-opacity: 0;
    }

    #gradient-linechart stop[offset="1"] {
        stop-opacity: 0;
    }

    #gradient-polarchart stop {
        stop-color: #2140DC;
    }

    #gradient-polarchart stop[offset="0"] {
        stop-opacity: 0.5;
        stop-color: #00BFD5;
    }

    #control-container {
        padding: 0px !important;
    }
</style>
<svg style="height: 0">
    <defs>
        <linearGradient id="gradient-chart" style="opacity: 1" class="chart-material" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0" />
            <stop offset="1" />
        </linearGradient>
    </defs>
    <defs>
        <linearGradient id="gradient-splinechart" style="opacity: 1" class="chart-material" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0" />
            <stop offset="0.6" />
            <stop offset="1" />
        </linearGradient>
    </defs>
    <defs>
        <linearGradient id="gradient-linechart" style="opacity: 1" class="chart-material" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0" />
            <stop offset="0.3" />
            <stop offset="1" />
        </linearGradient>
    </defs>
    <defs>
        <linearGradient id="gradient-polarchart" style="opacity: 1" class="chart-material" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0" />
            <stop offset="1" />
        </linearGradient>
    </defs>
</svg>